/* General */

body {
   font-family:'Quicksand', serif;
   margin: 0;
   padding: 0;
   background-color: #ebdffc;
  }

body.inicio{
    background-image: url(./imagenes/globos.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Navbar */
.navbar-light{
    background-color: rgba(247, 246, 250, 0.2);
}

.navbar-brand {
    font-size: 40px;
    color: #5e50b9;
    text-transform: none;
    font-family:'Quiscksand';
    font-weight:bold;
}

.navbar-brand:hover{
    color: #6055ac;
}

.navbar-nav .nav-link {
    color: #5e50b9;
    font-weight:550;
    font-size: 20px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #40348d;
    transform: translateX(15px);
}

@media (min-width: 768px) {
  .navbar-nav .nav-link:hover {
    transform: scale(1.1);
}
}


/* Banner principal */
.banner {
   
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.banner h1 {
    font-size: 80px;
    font-weight:lighter;
    margin-bottom: 20px;
}

.banner p {
    font-size: 40px;
    margin-bottom: 20px;
}

.banner .btn-primary {
    background-color: #6A5ACD;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
}

/* Secciones generales */
.nosotros,
.destinos,
.opiniones,
.contacto {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección Nosotros */
main.container{
  height: 100vh;
  width: 100%;
  background-image: url(./imagenes/mar.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.nosotros h2 {
  font-size: 32px;
  text-align: center;
  color: #5e50b9;
  margin-bottom: 15px;
}

.nosotros p {
  text-align: justify;
  font-size: 16px;
  line-height: 28px;
  color: #40348d;
}

/* Sección Destinos */

.destino-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 10px;
}

.destinos h2 {
  font-size: 30px;
  color: #5e50b9;
  margin-bottom: 20px;
  text-align: center;
}

.grid-destinos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.destino-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .grid-destinos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Opiniones*/
.opinion-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 10px;
}

.opiniones {
  background-color: #f5f5f5;
}

.opiniones h2 {
  font-size: 30px;
  color: #40348d;
  margin-bottom: 20px;
}

.opinion-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



/* Ajuste de las tarjetas en dispositivos más grandes */
@media (min-width: 768px) {
    .opiniones .card {
        margin: 0 10px;};
    }



/* Sección Contacto */
.contacto h2 {
  font-size: 30px;
  color: #5e50b9;
  margin-bottom: 20px;
  text-align: center;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario-contacto input,
.formulario-contacto textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-contacto input[type="submit"] {
  background-color: #5e50b9;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.formulario-contacto input[type="submit"]:hover {
  background-color: #6055ac;
}

/* Footer */
footer {
  width: 100%;
  background-color: rgba(247, 246, 250, 0.4);
  color: #5e50b9;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.list-inline {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}


.list-inline li a img {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.list-inline a{
  color: #5e50b9;
  text-decoration: none;
  font-size: 14px;
}