/*Colores*/
$color-uno: #5e50b9;
$color-dos: #6055ac;
$color-hover: #40348d;
$color-fondo-cuadro: #f5f5f5;
$color-boton: #6A5ACD;
$navbar: rgba(247, 246, 250, 0.2);
$footer: rgba(247, 246, 250, 0.4);

/*Fuemtes*/
$main-font: 'Quicksand', serif;
$titulo: 30px;
$header-titulo: 40px;
$Subtitulo:20px

